@import "nav.css";

body {
  background-color: rgb(20, 20, 20);
  color: white;
}

h1 {
  color: white;
  margin-top: 150px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

h2 {
  color: white;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

h3 {
  color: white;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  line-height: 2;
}

house { /* House */
  color: rgb(8,39,245);
}

home { /* Home */
  color: rgb(0, 243, 32);
}

names {
  font-size: 30px;
}

p {
  color: white;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 2;
}

footer {
  padding-top: 10px;
}

/* Font Sections */

/* This is currently the default, it is not specified */
.zampano {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.johnny {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

.johnny h2{
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

.johnny p{
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

/* TODO: This currently defaults to Georgia because bookman has
not been downloaded and added*/
editors {
  font-family: "Bookman Old Style", Georgia, serif;
  font-size: 20px;
}

johnnysMother {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

