@import "common.css";

cap1 {
  font-size: 120px;
}

h1 { /* Title: of Leaves */
  color: white;
  margin-top: 150px;
  padding-top: 10%;
  padding-left: 5%;
  font-size: 100px;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
}

cap2 {
  font-size: 55px;
}

h2 { /* Mark Z Danielewski */
  padding-top: 10%;
  padding-left: 5%;
  color: white;
  text-align: left;
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
}

h3 { /* Zampano Johnny Truant. */
  color: white;
  text-align: left;
  padding-left: 5%;
  font-family: 'Times New Roman', Times, serif;
  line-height: 3;
}

names {
  font-size: 30px;
}

p {
  padding-top: 15%;
  margin: 10%;
  text-align: center;
}

footer {
  padding-top: 10px;
}
