@import "common.css";

body {
  background-color: rgb(35, 35, 35);
}


h2 {
  text-decoration: underline;
  margin: 3%;
}

p {
  text-align: left;
  margin: 1% 7% 1%;
  line-height: 2rem;
  text-indent: 5rem;
}

.johnny .signature {
  text-align: left;
  margin-left: 70%;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.zampano {
  text-align: left;
  margin: 0% 25%;
  padding: 20px;
}

.zampano .date {
  text-align: right;
}

.mes p {
  margin-top: 40%;
}