/* Nav bar */
.nav {
  overflow: hidden;
  font-size: 20px;
  background-color: rgb(37, 37, 37);
  padding: 1.5rem;
}

/* nav buttons */
.nav a {
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
  margin-right: 1.5rem;
  margin-left: 2rem;
  padding: 1.5rem;
}

.nav a:hover, .dropdown:hover {
  background-color: rgb(37, 37, 255);
}

/* Table of Contents button*/
.dropdown {
  float: right;
  border: none;
  outline: none;
  margin-left: 80%;
  margin-right: 2rem;
  position: absolute;
  /* inherited */
  padding: inherit;
  font-size: inherit;
  color: inherit;
  background-color: inherit;
  font-family: inherit;
}

.dropdown-content {
  float: center;
  margin-right: 1rem;
  margin-top: 1rem;
  display: none;
  position: relative;
  background-color: rgb(37, 37, 255);
  min-width: 160px;
}

.dropdown-content a {
  float: none;
  color: white;
  margin-left: 0.1rem;
  padding: 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgb(37, 37, 37);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.footer {
  color: white;
  margin-top: 10%;
  text-decoration: none;
  background: scroll;
  text-align: center;
  padding: 10%;
  margin: 3rem;
  padding-bottom: 50%;
}

.footer a {
  float:none;
  text-decoration: none;
  color: white;
  padding: 2%;
  margin-left: 15%;
  margin-right: 15%;
}

.footer a:hover {
  background-color: rgb(37, 37, 37);
}